{% extends "accounts/sub_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password Reset Confirm' %}{% endblock %}

{% block sub_content %}

  {% if request.user.is_authenticated %}
    <script>
      window.location.href = "{% url 'accounts:dashboard' %}";
    </script>
  {% endif %}

  <form class="login-form" method="post">
    {% csrf_token %}
    <h3 class="mb-4 fw-bold">{% trans 'Change your password' %}</h3>
    <p>{% trans 'Use the form below to change your password.' %}</p>

    {% if form.errors %}

      {% for field in form %}

        {% if field.errors %}

          <div class="alert alert-primary" role="alert">
            {{ field.label }}: {{ field.errors|striptags }}
          </div>

        {% endif %}

      {% endfor %}

    {% endif %}

    <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
    {{ form.new_password1 }}
    <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
    {{ form.new_password2 }}
    <ul>
      <li>{% trans 'Your password can’t be too similar to your other personal information.' %}</li>
      <li>{% trans 'Your password must contain at least 8 characters.' %}</li>
      <li>{% trans 'Your password can’t be a commonly used password.' %}</li>
      <li>{% trans 'Your password can’t be entirely numeric.' %}</li>
    </ul>
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5" type="submit"
            value="Change">{% trans 'Submit' %}
    </button>
  </form>

{% endblock %}
