{% extends "accounts/sub_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block sub_content %}

  {% if request.user.is_authenticated %}
    <script>
      window.location.href = '{% url "accounts:dashboard" %}';
    </script>
  {% endif %}

  <form class="account-form mx-auto" method="post" action="{% url 'accounts:password_reset' %}">
    {% csrf_token %}
    <h3 class="mb-4">{% trans 'Forgotten your password?' %}</h3>
    <p>{% trans 'Enter your e-mail address to obtain a new password.' %}</p>

    {% if form.errors %}

      {% for field in form %}

        {% if field.errors %}

          <div class="alert alert-primary" role="alert">
            {{ field.label }}: {{ field.errors|striptags }}
          </div>

        {% endif %}

      {% endfor %}

    {% endif %}

    <label class="small">{{ form.email.label}}</label>
    {{ form.email }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
            value="Send e-mail">{% trans 'Send e-mail' %}</button>
    <p class="text-center">
      <a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
    </p>
  </form>

{% endblock %}