{% extends "accounts/sub_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Reset Status' %}{% endblock %}

{% block sub_content %}

  <div class="col-12 col-lg-6">
    <div class="p-3">

      {% if 'email' in request.get_full_path %}

        <h3 class="mb-4">{% trans 'Password Reset Success' %}</h3>
        <p>{% trans 'Check your email for instructions' %}</p>

      {% endif %}

      {% if 'complete' in request.get_full_path %}

        <h3 class="mb-4">{% trans 'Password Reset Success' %}</h3>
        <a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>

      {% endif%}

    </div>
  </div>


  <style>
    .container-fluid {
        max-width: 100%;
    }

    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
   </style>
{% endblock %}