[run]
omit =
   *venv/*
   conftest.py
   *tests*
   *__init__.py*
   *settings.py*
   *migrations/*

[report]
omit =
   *venv/*
   conftest.py
   *tests*
   *__init__.py*
   *settings.py*
   *migrations/*
