{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">404</span>
          <div class="mb-4 lead">{% trans 'The page you are looking for was not found.' %}</div>
          <a href="/" class="btn btn-link">{% trans 'Back to Main' %}</a>
        </div>
      </div>
    </div>
  </div>

  <style>
    .page-wrap {
        min-height: 100vh;
    }
  </style>

</body>
</html>