{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Product search' %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="album py-2">
      <h2 class="fw-bold">{% trans 'Products satisfying'%} "{{ request.GET.q }}" {% trans 'search:' %}</h2>
      <hr class="gradient-line" size="5">
      <h3>
        {% trans 'We found' %} {{ products_number }} {% trans 'product' %}{{ products_number|pluralize }}
      </h3>
      <div id="infinite-container" class="row">

        {% for product in products %}
          <div class="card p-0 mx-2 mb-3 card-width infinite-item">

            {% for image in product.product_image.all %}

              {% if image.is_featured %}

                <img class="card-img-top" alt="Product image"
                     src="{{ image.image.url }}"
                     style="height:180px">

              {% endif %}

            {% empty %}

              <img class="card-img-top product-image" alt="Product image"
                   src="{% static 'images/default-product.png' %}">

            {% endfor %}

            <div class="card-body pb-2">
              <h4><a href="{{ product.category.get_absolute_url }}" class="text-decoration-none text-secondary">{{ product.category.name }}</a></h4>
              <h4><a href="{{ product.get_absolute_url }}" class="text-decoration-none text-primary">{{ product.title }}</a></h4>
              {% if product.regular_price == product.final_price %}
                <h4 class="fw-bold">{{ product.regular_price }} $</h4>
              {% else %}
                <span class="h4 crossed-out-price">{{ product.regular_price }} $ <br></span>
                <span class="h4 fw-bold">{{ product.final_price|floatformat:2 }} $</span>
              {% endif %}
            </div>

          </div>
          {% if forloop.counter|divisibleby:10 %}<hr size="3">{% endif %}
        {% empty %}

        <div class="pt-2 col-12">
              <span class="h5">
                {% trans 'No available products' %}
                <a href="{% url 'store:store_home' %}">{% trans 'shop' %}</a>
              </span>
        </div>

        {% endfor %}

        <hr>
      </div>
      <div class="row">
        <div class="col-12">
          {% if page_obj.has_next %}
          <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
            {% trans 'next' %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'packages/waypoints-4.0.1/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'packages/waypoints-4.0.1/infinite.min.js' %}"></script>
  <script src="{% static 'store/js/search.js' %}"></script>

{% endblock %}